$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;
// $carousel-control-prev-icon-bg: url("../../images/truck.png") no-repeat;

$navbar-light-color: #fff;
$navbar-light-active-color: #fff;
$navbar-light-hover-color: #fff;
$navbar-padding-y: 5px;
$nav-link-padding-y: 0;
$carousel-indicator-width: 8px;
$carousel-indicator-height: 8px;
$carousel-control-prev-icon-bg: none;
$carousel-control-next-icon-bg: none;
$carousel-control-width: 0;
