@import "_fonts";
$color: #0eb493;
@mixin heading{
	color: $color;
		font-weight: bold;
		padding-bottom: 77px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			border-bottom: 1px solid #dce1e5;
			width: 90px;
			bottom: 47px;
		    right: calc(50% - 115px);	
        }
		&:after{
			content: '';
			position: absolute;
			border-bottom: 1px solid #dce1e5;
			width: 90px;
			bottom: 47px;
            left: calc(50% - 115px);	
        }
		span{
			position: absolute;
			bottom: 39px;
            left: calc(50% - 7px);
			&:before{
				font-size: 14px;
				color: #cccccc;
			}
		}
}
.col-site1{
	background: #f09;
}
.col-site2{
	background: #f90;
	padding: 20px;
}
.col-site3{
	background: #90f; 
}
.wrapper{ 
	background: rgba(16, 22, 54, 0.2);
	height: 70px;
	position: relative;
	z-index: 2;
}
.carousel{
	z-index: 1;
	margin-top: -70px;
	.carousel-caption{
		h1{
		font-size: 62px;
			@media (max-width: 991.98px){
		font-size: 45px;
	    }
	        @media (max-width: 580px){
	        	font-size: 30px;
	        }
		}
		p{
			font-size: 43px;
				@media (max-width: 991.98px){
				font-size: 30px;
	        }
	            @media (max-width: 580px){
	            	font-size: 26px;
	            }
			em{
				color: #0feb9e;
				font-style: normal;
			}
		}
		span{
			font-size: 16px;
			&:before{
				content: '';
				position: absolute;
				width: 28px;
				border-bottom: 1px solid #0feb9e;
				bottom: 140px;
                left: calc(50% - 180px);
                @media (max-width: 991.98px){
                	bottom: 30px;
                    left: calc(50% - 180px);
                }
                @media (max-width: 580px){
	            	left: calc(50% - 150px);
	            }
			}
			&:after{
				content: '';
				position: absolute;
				width: 28px;
				border-bottom: 1px solid #0feb9e;
				bottom: 140px;
                right: calc(50% - 180px);
                @media (max-width: 991.98px){
                	bottom: 30px;
                    right: calc(50% - 180px);
                }
                @media (max-width: 580px){
	            	right: calc(50% - 150px);
	            }
			}
	    }
	}
ol.carousel-indicators{
	display: block;
	position: absolute;
	bottom: calc(50% - 70px);
	padding-left: 48px;
	li{
		border-radius: 50%;
		margin-right: 15px;	
	}
}	
	}
.main-nav{
	z-index: 2;
	width: 100%;
	.navbar-collapse{
		flex-grow: 1;
	    justify-content: flex-end;
    }
	.navbar-nav{
		justify-content: flex-end;
		@media (max-width: 991.98px){
			width: 100%;
			background: #0eb493;
			text-align: center;
			font-size: 25px;
			padding-bottom: 30px;
			position: relative;
            top: 10px;
		}
		ul{
		}
	}
	a.nav-link{
		margin-top: 20px;
	}
	.navbar-brand{
		background: url(../../images/logo1.png) no-repeat;
		width: 90px;
		height: 27px;
		text-indent: -9999px;
		position: relative;
		top: 10px;
	}
	.slogan{
		color: rgba(255,255,255,0.3);
		position: relative;
		top: 14px;
		left: 4px;
		&:before{
			content:'';
			border-left: 1px solid rgba(45,156,211,0.3);
			height: 17px;
			padding-right: 21px;
			color: #2d9cd3;
		}
	}

}
.navbar{
	    padding: 0px;
}
.navbar-nav.pull-right{
	li{
		padding-right: 20px;
		@media (max-width: 991.98px){
			padding-right: 0;
		}
		a{
			border-top: 2px solid transparent;
			padding-top: 24px;
			margin-top: 0;
			&:hover{
				border-top: 2px solid #0eb493;
			}
		}
	}
}
.navigation-block{
		@media (max-width: 991.98px){
	display: none;	
	}
	ul{
        padding-left: 0;
		li{
			display: inline-block;
			list-style-type: none;
			padding-right: 10px;
			padding-top: 70px;
			a{

				color: rgba(255,255,255,0.3);
				&:hover{
					color: #fff;
				}
			}
		}
	}
}


.features-block{
	min-height: 460px;
	padding-top: 77px;
	h2{
		@include heading;
	}
.features{
	align-items: center;
	position: relative;
	padding-left: 70px;
	margin-bottom: 40px;
 }	
}
.icon-section{
	width: 40px;
	height: 40px;
	position: absolute;
	border: 1px solid #0eb493;
	border-radius: 50%;
	left: 14px;
	&:before{
		content: '\e902';
		color: #0eb493;
	    position: absolute;
	    bottom: calc(50% - 9px);
	    left: calc(50% - 6px);
	}
	&.develop{

		&:before{
		content: '\e901';
		color: #0eb493;
	    position: absolute;
	    bottom: calc(50% - 8px);
	    left: calc(50% - 8px);
	}
}
	&.consult{
		&:before{
		content: '\e900';
		color: #0eb493;
	    position: absolute;
	    bottom: calc(50% - 7px);
	    left: calc(50% - 8px);
	}
  }
}


.gallery{
	padding-top: 99px;
	h2{
		@include heading;
	}
	p{
		text-align: center;
		font-weight: bold;
		color: #062033;
		padding-bottom: 53px;
	}
}


.container-fluid.no-gutters{
	padding: 0;
}

.pictures{
		a{
		span div{
		display: none;
		}
		&:hover{
			background: #0eb493;
			color: $color;
			text-decoration: none;
			span{
				position: relative;
				&:before{
					content:'';
					background: rgba(14, 180, 147, 0.95);
					position: absolute;
					height: 100%;
					width: 100%;
				}
				div{
					display: block;
					position: absolute;
					text-align: center;
					top: 0;
					left: 0;
					color: #fff;
				}
			}
		}
		    &>span{
		    	position: relative;
    }
}
    }


.container-wrapper{
	background: #f4f7f9;
} 
.content-wrapper-lights{
	min-height: 925px;
	padding-top: 103px;
	.row{
		text-align: center;
		}
		h2{
		@include heading;
	}
	p{
		font-weight: bold;
		color: #062033;
	}
	
}
.cards{
	padding-top: 108px;
	@media (max-width: 575px){
		margin-bottom: 30px;
	}
	a{
		span div{
		display: none;
		}
		&:hover{
			background: #0eb493;
			color: $color;
			text-decoration: none;
			span{
				position: relative;
				&:before{
					content:'';
					background: rgba(14, 180, 147, 0.95);
					position: absolute;
					height: 100%;
					width: 100%;
				}
				div{
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					color: #fff;
					padding: 22px 18px;
					strong{
						font-weight: bold;
					}
					p{
						color: #fff;
						font-weight: normal;
						margin-top: 10px;
						margin-bottom: 30px;
						@media (max-width: 1200px){
		                display: none;
	                }
	                @media (max-width: 991.98px){
					display: block;	
					}
					@media (max-width: 768px){
		           display: none;
	                }
					@media (max-width: 575px){
					display: none;
					}
					}
					.link-section{
						position: relative;
						display: inline-block;
						.link-twi{
							width: 42px;
							height: 42px;
							background: rgba(0,0,0,0.3);
							position: relative;
							bottom: 0;
							display: inline-block;
							i{
								position: absolute;
								top: 15px;
								left: 15px;
							}
						}
						.link-face{
							width: 42px;
							height: 42px;
							background: rgba(0,0,0,0.3);
							position: relative;
							bottom: 0;
							display: inline-block;
							i{
								position: absolute;
								top: 15px;
								left: 15px;
							}
						}
						.link-goog{
							width: 42px;
							height: 42px;
							background: rgba(0,0,0,0.3);
							position: relative;
							bottom: 0;
							display: inline-block;
							i{
								position: absolute;
								top: 15px;
								left: 15px;
							}
					}
					}
				}
			}
		}
		.card{
			border: 0;
		    border-radius: 0;
		    &>span{
		    	position: relative;
		    }
			.card-body{
				    text-align: center;
				h3{
					font-size: 18px;
					color: #062033;
				}
				p{
					font-size: 13px;
					color: #959a9f;
					font-weight: normal;
			    }
		        }
	        }
      }
      }
.img-wrap {
    position: relative;
    min-height: 600px;
    padding-top: 230px;
    background: url("../../images/background-facts.jpg") no-repeat;

		img{
		width: 100%;
		}
		h2{
		@include heading;
		position: absolute;
		left: 0;
		top: 100px;
		width: 100%;
			span{
				&:before{
					color: #fff;
			}
		}
	    }
			.facts{
			text-align: center;
			position: relative;
			color: #fff;
				.icon{
					width: 130px;
					height: 130px;
					position: absolute;
					border: 1px solid rgba(255,255,255,0.4);
					border-radius: 50%;
					left: calc(50% - 65px);
					@media (max-width: 991.98px){
						width: 80px;
				        height: 80px;
				        margin-left: 25px;
				        border: 3px solid rgba(255,255,255,0.9);       
				}
					@media (max-width: 575px){
						width: 65px;
						height: 65px;
						margin-left: 30px;
					}

					&:before{
					content: '';
					background-image: url(../../svg/clock-icon.svg);
					display: block;
					position: absolute;
					background-size: cover;
					width: 38px;
					height: 38px;
					left: 45px;
	                bottom: 47px;
	                @media (max-width: 991.98px){
	                	left: 20px;
	                    bottom: 20px;
	                }
	                @media (max-width: 575px){
						font-size: 10px;
						left: 12px;
	                    bottom: 12px;
					}
					}
					&.clients{
						&:before{
							content: '';
							background-image: url(../../svg/friends-icon.svg);
							display: block;
							position: absolute;
							background-size: cover;
							width: 39px;
							height: 39px;
							left: 45px;
			                bottom: 47px;
							@media (max-width: 991.98px){
								left: 20px;
								bottom: 20px;
	                }
			                 @media (max-width: 575px){
								font-size: 10px;
								left: 12px;
	                            bottom: 12px;
					}
						}
					}
					&.projects{
						&:before{
							content: '';
							background-image: url(../../svg/rocket-icon.svg);
							display: block;
							position: absolute;
							background-size: cover;
							width: 38px;
							height: 38px;
							left: 45px;
			                bottom: 47px;
			                @media (max-width: 991.98px){
								left: 18px;
								bottom: 20px;
				    }
						     @media (max-width: 575px){
								font-size: 10px;
								left: 10px;
			                    bottom: 10px;
					}
					    }
					}
					&.awards{
						&:before{
							content: '';
							background-image: url(../../svg/cup-icon.svg);
							display: block;
							position: absolute;
							background-size: cover;
							width: 41px;
							height: 38px;
							left: 45px;
			                bottom: 46px;
			                @media (max-width: 991.98px){
								left: 18px;
								bottom: 16px;
				    }
						     @media (max-width: 575px){
								font-size: 10px;
								left: 10px;
			                    bottom: 9px;
					}
						}
					}
				}
			h3{
			font-size: 60px;
			padding-top: 145px;
			@media (max-width: 991.98px){
				font-size: 40px;
				padding-top: 80px;
			}
			@media (max-width: 575px){
				font-size: 25px;
			}
			}
			p{
			font-size: 18px;
			@media (max-width: 991.98px){
				font-size: 16px;
			}
				@media (max-width: 575px){
				font-size: 15px;
			}
			}
			}
}





.discuss-block{
	min-height: 642px;
	padding-top: 100px;
	h2{
		@include heading;
	}
	p{
		font-weight: bold;
		text-align: center;
		color: #062033;
		padding-bottom: 30px;
	}
}
.discuss{
	@media (max-width: 991.98px){
		text-align: center;
	}
	h3{
		font-size: 22px;
		padding-bottom: 20px;
	}
	ul{
		font-size: 13px;
		line-height: 25px;
		padding-bottom: 110px;
		padding-left: 0;
		@media (max-width: 991.98px){
		font-size: 20px;
		line-height: 35px;
		padding-bottom: 50px;
	    }
		li{
			list-style-type: none;
			color: #6a737b;
			a{
				color: #1ea78d;
			}
		}
	}
}
.form-wrapper{
	@media (max-width: 991.98px){
		text-align: center;
	}
	h3{
		font-size: 24px;
		font-weight: bold;
		padding-bottom: 20px;
	}
	[type="text"],
	[type="email"]{
		width: 360px;
		height: 53px;
		color: #0eb493;
		margin-bottom: 27px;
	}
	[type="message"]{
		height: 53px;
		width: 100%;
		color: #0eb493;
		margin-bottom: 10px;
		@media (max-width: 991.98px){
			width: 360px;
		}
	}
	[type="text"],
	[type="email"],
	[type="message"]{
		outline: none;
		border: none;
		border-bottom: 1px solid #b7babe;
	}
	button{
		@media (max-width: 991.98px){
			left: calc(50% - 84px);
			right: initial;
	    }
		padding: 15px;
		outline: none;
		border: none;
		background: transparent;
		font-size: 16px;
		margin-left: auto;
		position: absolute;
		right: 0;
		font-weight: 500;
		&:hover{
			background: #fff;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
			@media (max-width: 991.98px){
				background: #fff;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
			}
		}

		span{
			padding-right: 10px;
			font-size: 17px;
			color: #6ed2be;
		}
	}
}


fieldset{
	@media (max-width: 991.98px){
		padding-bottom: 30px;
	    }
}


.networks-column{
	@media (max-width: 991.98px){
		margin-top: 87px;
        padding-bottom: 30px;
	    }
	text-align: center;
	padding-top: 15px;
	font-size: 22px;
	li{
		list-style-type: none;
		@media (max-width: 991.98px){
			display: inline;
			font-size: 30px;
			padding-left: 30px;
			&:first-child{
				padding-left: 1px;
			}
		}
		a{
			color: rgba(6,32,51,0.2);
			&:hover{
				color: #062033;
			}
			i{
				width: 30px;
				height: 30px;
			}
		}
	}
}






.img-map{
	min-height: 215px;
    background: url("../../images/map.jpg") no-repeat;
}


.container-wrapper-footer{
	background: #1ea78d;
	padding-top: 118px;
	border-top: 5px solid #062033;
	min-height: 406px;
	@media (max-width: 991.98px) {
       padding-bottom: 40px;
       .form-control{
       	height: 60px;
       }
       .explore-section .wrap ul a{
       	font-size: 20px;
       	line-height: 45px;
       	text-align: left;
       }
       .created-by p,
       .created-by span{
       	font-size: 16px;
       }
       .explore-section h4,{
       	font-size: 22px;
       }
    }
	h4{
		color: rgba(255,255,255,0.8);
		font-size: 14px;
		padding-bottom: 47px;
		@media (max-width: 991.98px){
			font-size: 22px;
			text-align: center;
			padding-top: 25px;
		}
	}
	
	.navbar-brand{
		background: url(../../images/logo1.png) no-repeat;
		width: 90px;
		height: 27px;
		text-indent: -9999px;
		position: relative;
	}
	p{
		color: #fff;
		font-size: 13px;
		line-height: 24px;
		padding-top: 20px;
		@media (max-width: 991.98px){
			font-size: 16px;
			text-align: center;
		}
	}
}
.explore-section{
	h4{
		padding-bottom: 37px;
	}
	.wrap ul{
		list-style-position: inside;
		-moz-column-count:2; /* Firefox */
		-webkit-column-count:2; /* Safari and Chrome */
		column-count:2;
		list-style-type:none;
		height:200px;
		padding: 0;
		a{
			color: #fff;
			font-size: 13px;
		}
	}
}
.created-by{
	color: #fff;
	font-size: 13px;
			@media (max-width: 991.98px){
			text-align: center;
		}
	p{
		padding-top: 0;
		padding-bottom: 50px; 
	}
	em{
		color: #062033;
		font-style: normal;
	}
	span{
		color:  #062033;	
		a{
		    color: #062033;	
		    &:hover{
		    	color: #fff;
		    }
		}
	}
}
.carousel-indicators{
	left: inherit;
	right: 3%;
	@media (max-width: 580px){
	    right: 2%;
	}
}
.image-holder img{
	width: 100%;
}
.submit-subscribe{
	position: absolute;
	width: 36px;
	height: 20px;
	background: transparent;
	color: rgba(255,255,255,0.8);
	right: 10px;
	top: 6px;
	border: none;
	@media (max-width: 991.98px){
		top: 17px;
	}
}
.row-subscribe{
	position: relative;
	width: 100%;
	.form-control{
        width: 100%;
	}
}
.subscribe-form{width: 100%;}
.footer-block .navbar{
	padding: 0;
}

.form-control{
	background-color: #1ea78d;
	border: 2px solid #fff;
}
.navbar-toggler-icon {
    height: 2.5em;
}